* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.weapon-wrapper {
  background-image: url('./assets/images/csbg.png');
  background-position: center center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;  
}

.button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.add__button {
  background-color: blue;
  margin: 0 auto;
}

.edit__button {
  background-color: green;
}

.weapon-box {
  border: 3px solid black;
  background-color: rgba(201, 133, 108, 0.518);
  border-radius: 20px;
  display: flex;
  flex: 0 0 calc(33.33% - 2rem);
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  min-width: 600px;
  height: 600px;
  gap: 1rem;
  padding: 1rem;
}

.weapon-form {
  background-image: url('./assets/images/csbg2.png');
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.weapon-form__input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}

.img-box {
  display: block;
  max-width: 100%; 
  height: auto; 
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &.img-box:hover {
    transform: scale(1.1);
  }
}

.weapon__created {
  font-size: 16px;
}
